.lownavcontainer {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  .brand {
    background-color: rgb(202, 202, 204);
    padding: 1rem;
    font-weight: bolder;
    margin: 0%;
    font-size: 1.5rem;
  }
  .BS {
    grid-column: 2;
    justify-content: end;
  }
}
