* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: 25rem;
    gap: 0.5rem;
    .product {
      display: flex;
      flex-direction: column;
      h2 {
        color: white;
        background: #44b;
        padding: 1rem 0.5rem;
      }
      img {
        flex: 1;
        height: 0%;
      }
      footer {
        color: white;
        background: #44b;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          display: flex;
          gap: 1ch;
        }
        .material-symbols-sharp {.material-symbols-sharp {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
        }
        button {
          color: white;
          border: 0;
          background-color: #44b;
          border-radius: 100%;
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
              padding-block: 1px;
    padding-inline: 6px;
        }
      }
    }
  }
}
