.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  list-style: none;
  margin-right: 1rem;
    a {
      text-decoration: none;
    }
  }

  li {
    margin-top: 0.5rem;
    padding: 0.75rem;
  }
}
