* {
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20vw;
  padding: 0.25rem;
  gap: 0.25rem;

  a {
    min-width: 25ch;
    color: white;
    text-decoration: none;
    background-origin: padding-box;
    width: 25ch;
    padding: 0.5rem;
    background: #44b;
    gap: 0.25rem;
  }
}
a:hover {
  cursor: pointer;
  background-color: rgb(18, 18, 77);
}
