.navcontainer {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  a {
    text-decoration: none;
  }
  li {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 4px;
    font-size: 16px;
    font-family: Robo;
    color: #ffffff;
    background-color: 4444BB;
  }
  .screen-lg {
    grid-column: 3;
    align-self: end;
  }
}
